;;;
"title": "Nicholas Johnson - Firebase Training near London",
"description": "Mongo with Firebase training course in London or Brighton UK"
;;;

%article
  %section
    :markdown
      # Firebase Training


      An introduction to Firebase API as a service that enables lightening fast front end development backed by an API.

      The 3 day course covers MongoDB, Firebase, plus your choice of AngularJS, BackboneJS or EmberJS.

      Firebase is the Exciting API as a Service backed by MongoDB that allows front end developers to concentrate on JavaScript and templates, while letting the API take care of itself.

      Firebase is massively scalable and is now backed by the engineering talent and infrastructure of Google.

      ## Prerequisites

      * Basic HTML (preferably HTML5)
      * Intermediate JavaScript

      = partial :"/courses/partials/firebase_pricing"

