%article
  %section
    %h1 Music to Code By
    Free and open source coding music on infinite loop.
  %section
    %h2 Bach Prelude in C Major
    %p Clear calm end of day focus.
    %audio{ controls: true, loop: true }
      %source{ src: 'music/bach_prelude_in_c_major.mp3' }
    %a{ href: 'http://amclassical.com' } CC Attribution: A-M Classical

