:markdown
  The course can run over two, three or four days depending on custom content. The recommended duration is three.

  * **Two day quick course** - get up to speed with Angular quickly, includes templates, controllers, services, the fundamentals of directives and unit testing with Karma.
  * **Three day extended course** - All the above plus more time spent on directives, and Protractor.
  * **Four day full course** - Build a simple but fully featured CRUD application backed by a live Restful API.

  * **You can also build your own** - Every course is custom made. If you have a specific requirement, it can probably be accommodated.
