:markdown
  Mongo is a highly scalable, extremely fast document oriented NoSQL database that allows you to query large unstructured datasets at speed.

  Schemaless databases are highly appropriate for certain classes of problems. They work nicely with big data, where the schema may drift, and with service oriented architectures, where the database effectively becomes your API.

  Because your data is stored in JSON, your app will require dramatically less wiring code between your front end and API. The same data can be used in the back end and the front end.

  In this one day Mongo introduction you will learn to install, manage and talk to a Mongo database. You will learn the fundamentals of document storage, and will build a complete app with Mongo as a back end.

  ## Prerequisites

  * Intermediate JavaScript
  * Foundation level HTML
