%article

  %section
    :markdown
      # Tags

      Tags generally come in pairs, a start tag and an end tag. A start tag looks like this: <p>. This tag means start a new paragraph. An end tag looks like this </p>. This tag means end your paragraph.

      Tags are placed before and after the text we want to wrap, so if you wanted to make a paragraph you might write:

    :ruby
      code = <<-CODE
      <p>Here is my paragraph</p>
      CODE
    =code(code, :html)

    :markdown

      ## Elements

      When you place a start tag i front of a piece of text, and and end tag after, the whole construct is known as an element. Writing HTML is a process of sensibly splitting your content into elements using tags.

      ## Exercise

      This exercise is just about getting something working in a browser.

      1. Create a folder to hold your code. You might want to create a folder called 'exercises', then create a folder inside it called 'exercise_1'.
      2. Create a file. Call it index.html.
      3. Open it up in a browser, either by doouble clicking, using file alt, or choosing 'open in browser' from sublime.
      4. Add some text to your file and mark it up as a paragraph.
      5. Add a second paragraph to your file.

    %aside
      :markdown
        ## Downloads

        * [Code from the board](https://www.dropbox.com/sh/wrd76c9lep8ec47/AADH3HcX6YbLTTr_A6fBx-I2a?dl=1)
