;;;
"title": "Nicholas Johnson - HTML and CSS Training near London",
"description": "HTML and CSS training course in London or Brighton UK - Learn HTML5 and CSS3"
;;;

%article
  %section.intro

    :markdown
      # HTML and CSS Courses

      HTML5 is the language of the Internet, understood by every web browser on the planet. It's also beautifully simple and elegant. You can pick up the basics in about a day.

      CSS makes web pages beautiful. It's a simple specification that allows you to select parts of your web page, position them, change colours and typography, and ultimately build a complete website.

      This course will teach you the fundamentals of HTML and CSS, including the new HTML5 and CSS3 level specifications. You will be able to construct your own web pages the right way. You will be able to construct layouts that respond nicely in smaller devices.

      ## Course content

      ### HTML5

      * Philosophical overview
        - Semantic HTML
        - What is Markup
        - Markup as a tree
        - Markup as XML
        - When not to use markup
      * HTML5 concepts
      * Proper use of headers
      * Paragraphs
      * Images
      * Structural markup
        - headers
        - footers
        - articles
        - aside
        - paragraphs
      * Forms

      ### CSS

      * Layout strategies
        - Absolute positioning
        - Float layouts
        - Setting widths and height
        - The box model
        - Inline-block
      * Basic typography
        - Making your page look good with some simple rules
      * CSS3 strategies
        - Rounded corners
        - Box shadows
        - Background images
      * Basic rules of design
      * Browser issues
        - Working with IE
      * Responsive design
      * Introduction to SASS


  %section
    :markdown

      HTML and CSS together are the two foundational tools for any web developer.

      Courses run in a sunny training venue by the sea in Brighton, just 55 minutes from Victoria, or can run in house anywhere in the UK or worldwide.


      ## Course Material

      * [HTML and CSS Exercises](/courses/html-and-css/exercises)

  %section

    = partial :"/courses/partials/javascript_pricing"
