---
title: "AngularJS Exercise"
section: "angular"
exercise: "bootstrap"
layout: "exercise"
---

%section
  :markdown

    # Bootstrap

    Bootstrap is a library of UI components, plus typography and layout. The UI components have all been ported to Angular, giving us some nice directives that we can use to get some pretty nifty functionality with little work.

    * <http://angular-ui.github.io/bootstrap/>
    * <https://github.com/angular-ui/bootstrap>

%section.exercise
  :markdown

    ## Modal

    We are going to use a modal dialog to allow us to edit our article.

    Check out the modal dialog box here: <http://angular-ui.github.io/bootstrap/#/modal>

    Now implement a Bootstrap modal dialog which allows you to edit your article.

%section.exercise
  :markdown

    ## Vertical Tabs

    We will now use vertical tabs to navigate our application.

    Check out the vertical tabs here here: <http://angular-ui.github.io/bootstrap/#/tabs>

    Use the tabs to output the article list. Ideally position it on the left and have the article appear in the right.

%section.exercise
  :markdown

    ## Dropdown

    Check out the code for the dropdown directive.

    * <https://github.com/angular-ui/bootstrap/blob/master/src/dropdown/dropdown.js>

    Try to understand how it is built out of a service, a controller and two directives.

    Now implement a Bootstrap dropdown menu.
