;;;
"title": "Nicholas Johnson - Font Embedding",
"description": "Responsive Design course Notes and Exercises"
;;;

%article
  %section
    :markdown
      # Font Embedding

      1. First we'll need a font. Grab a font kit from: http://www.google.com/webfonts/
      2. Set the page h1 to the font you chose.

      Things to watch out for.

      Header tags are by default bold. If you use a font on your header tags you may find it looking rather swollen. This is because your browser, finding no bold variant of the custom font is kindly making one for you by swelling the standard font.

      Watch for this and only use a bold variant if you have it installed.

      ## Where to get fonts

      You can get free fonts from: http://www.google.com/webfonts/ or www.fontsquirrel.com

      If you would like a premium font, my choice is: http://www.myfonts.com.
