;;;
"title": "Nicholas Johnson - AngularJS Training near London",
"description": "Angular JS Course Feedback"
;;;

%article
  %section.intro
    :markdown
      # AngularJS Course Feedback Form

    #surveyMonkeyInfo
      %div>
        %script{:src => "https://www.surveymonkey.com/jsEmbed.aspx?sm=muPbkJRp2yu9YrkjC5hLKA_3d_3d"} :cdata
      Create your free online surveys with
      %a{:href => "https://www.surveymonkey.com"} SurveyMonkey
      , the world's leading questionnaire tool.

