;;;
"title": "Modern Web Design course",
"description": "Modern Web Design Course - Learn HTML5 / CSS3 / JavaScript / JQuery / Angular / Node / Bootstrap / SASS from an industry expert. 5 days in house training."
;;;
%article

  %section.intro
    :markdown
      # Modern Web Design Course

      All the technology you need for modern front end and mobile web development with HTML5, CSS3, JavaScript, Angular, NodeJS & Bootstrap

  %section.outline
    :markdown
      ## Day 1 - HML5 and CSS3

      ### HTML5

      * New element overview
      * Forms

      ### CSS

      * Layout strategies
      * Basic typography
      * CSS3 strategies
      * Browser issues
      * Simple Responsive design

      ## Day 2 Welcome to JavaScript

      ### JavaScript Fundamentals

      * Variables
      * Arrays
      * Functions

      ### Introduction to jQuery

      * Unobtrusive JavaScript
      * Dom Manipulation
      * Event handling
      * Traversal

      ###  Real JavaScript

      * Functional programming
      * Scope
      * Closure
      * Hoisting

      ### Object orientation

      * JSON
      * Modular JavaScript

      ## Day 3 - More on JavaScript

      ### Further jQuery

      * Writing plugins
      * AJAX
      * Best practice

      ### MVC

      * Coding MVC JavaScript without a framework

      ### NodeJS

      * Creating a server
      * Routing a request
      * Middleware
      * Jasmine Templates

      ## Day 4 - Angular

      ### Introduction to Angular

      * Obtrusive JavaScript
      * App
      * Angular Templating Language
      * Expressions
      * Models
      * Data Binding
      * Concepts
      * Animation
      * Showing / Hiding elements

      ## Day 5 - Further Topics

      ### Further Angular

      * Routing
      * Controllers
      * DI
      * Collections
      * Filters
      * AJAX

      ### Bootstrap

      * Fundamentals
      * Intro to advanced topics

      ### Preprocessors

      * Introduction to SASS
      * Introduction to Markdown
      * Introduction to CoffeeScript



      ## How to book

      Courses run through Forward Advance Training Ltd.

      [Please get in touch](mailto:hello@nicholasjohnson.com) if you'd like to know more, or to book.


  %section#exercise_files
    :markdown
      ## Exercise Files

      ### Day 1 - HTML5 & CSS3

      * [HTML5 Exercises](https://www.dropbox.com/sh/2s7qsycki6moohf/AAAv4jZm1a3ewBIvZdkyH7hUa)
      * [CSS3 Layout and Responsive Design Exercises](https://www.dropbox.com/sh/the9iqhmsg558x0/AADJlzGmRvGz2tat68kczyIMa)
      * [CSS3 Exercises](https://www.dropbox.com/sh/llyp99tcim3sxhv/AABdhHmbJW508fbKdwf_RWo7a)

      ### Day 2 - JavaScript and JQuery

      * [JavaScript Notes](/javascript-book/)
      * [JavaScript Exercises](https://www.dropbox.com/sh/o27538iyrogazqo/AABkhnkXYMpElKDiwz2fiGrMa)

      ### Day 3 - JavaScript and JQuery

      * [JavaScript Notes](/javascript-book/)
      * [JavaScript Exercises](https://www.dropbox.com/sh/o27538iyrogazqo/AABkhnkXYMpElKDiwz2fiGrMa)
