---
title: "AngularJS Courses"
description: "Learn Angular from an someone who actually uses it. Live coding, Q&A,practical workshops, deep theory and lots of real world exercises."
comments: false
---


%article.landing_page
  %section

    %h1 AngularJS Training Courses

    %img.sectionLogo{ src: '/images/sections/angular.svg' }

    %p.subtitle
      Learn Angular from someone who actually uses it. Live coding, Q&A, practical workshops, deep theory, real world exercises and code reviews.


    :markdown

      I have taught Angular courses to hundreds of clients all over the UK and the world. Because I know and use the material, each course can be bespoke. We will use no Powerpoint, Demos will involve adaptive live coding, Q&A and reference material to review and take away. Exercises are practical and become increasingly open ended as the course progresses.

      The course can be fully tailored to the needs of the individual client, even on the fly. Courses can range from 3 to 5 days and because there's no middleman **cost as little as £3100 + VAT**.

    .action_button_row
      %a.button.action{ href: '/contact' } Get in touch



    =partial 'partials/testimonials'

    .action_button_row
      %a.button.action{ href: '/contact' } Get in touch


    %h1 The Courses

    %nav.courses
      %ul
        %li
          %h2
            %a{ href: '/angular/course' }
              The Angular Course

          %p
            Three days of Angular covering templates and all the core principles and components. Learn to build and test an Angular App the right way, and finally build a real app against a live API.
            %em Duration: 3 days. Price: £3100.
            %a{ href: '/angular/course' }
              Read More
              %i.fa.fa-chevron-circle-right

        %li
          %h2
            %a{ href: '/angular/course' }
              Angular + JavaScript

          %p
            JavaScript is an often misunderstood language. It looks superficially like Java, but is different enough to cause developer confusion and occasional outrage! The Angular course plus JavaScript: function scope, closure, object orientation (which is different in JavaScript), and functional concepts.
            %em Duration: 4 days. Price: £4100.
            %a{ href: '/angular/course' }
              Read More
              %i.fa.fa-chevron-circle-right


        %li
          %h2
            %a{ href: '/angular/course' }
              Angular + NodeJS

          %p
            NodeJS is the perfect accompaniment to Angular. JavaScript as an event driven language makes a powerful server. Your JSON data shuttles easily between the server and client.
            %em Duration: 4 days. Price: £4100.
            %a{ href: '/angular/course' }
              Read More
              %i.fa.fa-chevron-circle-right

        %li
          %h2
            %a{ href: '/angular/course' }
              Angular + NodeJS + Mongo + Express (MEAN)

          %p
            An app built on the mean stack is JavaScript front to back. It will be fast, highly scalable, agile and moderately light on server resources. This is an agile stack favoured by many developers.
            %em Duration: 5 days. Price: £5100.
            %a{ href: '/angular/course' }
              Read More
              %i.fa.fa-chevron-circle-right

    .action_button_row
      %a.button.action{ href: '/contact' } Get in touch

    -# =partial 'partials/course'

    -# .action_button_row
    -#   %a.button.action{ href: '/contact' } Get in touch

    %section
      %h1 Writings on Angular


      :markdown

        1. Get a quick overview of what Angular is and does with my friendly and logical little Angular introduction: [AngularJs - Step by logical step](/angular-book)

        2. [My highly rated introduction to Angular on Stack Overflow](http://stackoverflow.com/a/23606512/687677)
    .action_button_row
      %a.button.action{ href: '/contact' } Get in touch


    %section
      %h1 Course Content
      =partial 'partials/exercise_list', locals: {section_slug: "angular", course_slug: "course" }

    .action_button_row
      %a.button.action{ href: '/contact' } Get in touch
