---
title: "Angular2 Courses"
description: "Learn Angular from an someone who actually uses it. Live coding, Q&A,practical workshops, deep theory and lots of real world exercises."
comments: false
---


%article.landing_page
  %section

    %h1 Angular 2 Training Courses

    %img.sectionLogo{ src: '/images/sections/angular.svg' }

    %p.subtitle
      Learn Angular from someone who actually uses it. Live coding, Q&A, practical workshops, deep theory, real world exercises and code reviews.


    :markdown

      I have taught Angular courses to hundreds of clients all over the UK and the world. Because I know and use the material, each course can be bespoke. We will use no Powerpoint, Demos will involve adaptive live coding, Q&A and reference material to review and take away. Exercises are practical and become increasingly open ended as the course progresses.

      The course can be fully tailored to the needs of the individual client, even on the fly. Courses can range from 3 to 5 days and because there's no middleman **cost as little as £3500 + VAT**.

    .action_button_row
      %a.button.action{ href: '/contact' } Get in touch



    =partial 'partials/testimonials'

    .action_button_row
      %a.button.action{ href: '/contact' } Get in touch


    %h1 The Courses

    %nav.courses
      %ul
        %li
          %h2
            %a{ href: '/angular/course' }
              The Angular 2 Course

          %p
            Three days of Angular covering templates and all the core principles and components. Learn to build and test an Angular App the right way, and finally build a real app against a live API.
            %em Duration: 3 days. Price: £4500.
            %a{ href: '/angular/course' }
              Read More
              %i.fa.fa-chevron-circle-right

        %li
          %h2
            %a{ href: '/angular/course' }
              Angular 2 + TypeScript or ES6

          %p
            JavaScript is an often misunderstood language. It looks superficially like Java, but is different enough to cause developer confusion and occasional outrage! The Angular course plus JavaScript: function scope, closure, object orientation (which is different in JavaScript), and functional concepts.
            %em Duration: 4 days. Price: £6000.
            %a{ href: '/angular/course' }
              Read More
              %i.fa.fa-chevron-circle-right


    .action_button_row
      %a.button.action{ href: '/contact' } Get in touch

    -# =partial 'partials/course'

    -# .action_button_row
    -#   %a.button.action{ href: '/contact' } Get in touch

    %section
      %h1 Writings on Angular


      :markdown

        1. Get a quick overview of what Angular is and does with my friendly and logical little Angular introduction: [AngularJs - Step by logical step](/angular-book)

        2. [My highly rated introduction to Angular on Stack Overflow](http://stackoverflow.com/a/23606512/687677)
    .action_button_row
      %a.button.action{ href: '/contact' } Get in touch


    %section
      %h1 Course Content

      :markdown

        ## Overview

        * Angular 2 vs. Angular 1
        * Components

        ## Templating

        * Binding actions
        * Binding to the DOM
        * Binding to attributes
        * Binding to components
        * Backtick inline template syntax

        ## TypeScript

        * Transpiling
        * Annotations
        * Strong Typing
        * Classes

        ## Testing

        * Karma
        * Protractor
        * Test Automation

        ## Forms

        * Validation
        * Watching

        ## Components

        * Bare components
        * Controllers
        * Decorators
        * Services
        * Observables

        ## AJAX

        * REST
        * JSONP
        * CORS

        ## Routing

        * How Routing works
        * HTML5 mode
        * SPA
        * SEO
        * Accessibility






    .action_button_row
      %a.button.action{ href: '/contact' } Get in touch
