---
title: "Contact Me"
description: "Get in touch"
section: "mongo"
exercise: "crud"
comments: false
---

%article.landing_page
  %section
    :markdown
      # Say Hello

      If you'd like to get in touch about a course, or just for a chat about your startup, the best way is to email me here: [hello@nicholasjohnson.com](mailto:hello@nicholasjohnson.com). I'll try to get back to you right away.

      We can have a conversation via email, phone or Skype to see if there might be something we can do.

    .action_button_row
      %a.button.action{ href: "mailto:hello@nicholasjohnson.com" } Email me now

