%article

  %section
    :markdown
      # More Tags

      There are only a few interesting tags in HTML. They are easy to learn. Here are a few:

      * p - paragraph of text
      * h1 - top level heading
      * h2 - second level heading
      * h3 - third level heading (and so on all the way to h6)
      * strong - highlighted text - generally bold
      * em - emphasised text - generally italic

      Here are a few newer tags that were added in HTML5

      * article - an article
      * aside - content related to an article
      * nav - Page navigation

      Remember you must remember to close any tag that you open or you will get surprising results.

    :ruby
      code = <<-CODE
      <h1>Here is my top level heading</h1>
      <p>And a nice paragraph to follow.</p>
      CODE
    =code(code, :html)

    :markdown

      ## Exercise

      1. Create a new folder (exercise2?) and an index.html file.
      2. Create a top level heading.
      3. Create a paragraph.
      4. Create some bolded text.
      5. Create some italic text.


    %aside
      :markdown
        ## Downloads

        * [Code from the board](https://www.dropbox.com/sh/4qgjq7764gp8td4/AAAOuuhGaoQxzw_mLu7W6rEAa?dl=1)

