---
title: "Rails - Step by Logical Step"
description: "Ruby tutorial, step by step beginners to advanced"
section: "ruby"
course: "rails-course"
layout: "workbook"
alias: "rails-book/"
---

%article.book_cover
  %section
    :markdown
      # The Rails Book

      ## Step by Logical Step

      **By Nicholas Johnson**

      **version 0.9.0 - Beta**

    %img{src: '/images/book-covers/station3.jpg'}

%article

  %section#intro
    :markdown

      # Why you you might quite like Rails

      Rails is a rapid application development framework. It launched Twitter, and thousands of other startups all over the world.

      It excels at producing minimum viable products. If you have an idea which you want to take to market very quickly, Rails is probably what you need.
