;;;
"title": "Nicholas Johnson - AngularJS Course Notes and Exercises",
"description": "Angular JS training course Notes and Exercises"
;;;

%article
  %section.intro
    :markdown
      # Learn HTML and CSS

      Welcome to the HTML and CSS Course. Here are the exercises...

  %section
    :markdown

      ## Bits and Bobs

      * [CSS cheat sheet](/css-cheatsheet)


      ## Tags

      * [Exercise](/courses/html-and-css/exercises/tags)


      ## More Tags

      * [Exercise](/courses/html-and-css/exercises/more-tags)


      ## Nested Tags (tags inside other tags)

      * [Exercise](/courses/html-and-css/exercises/nesting)


      ## Lists

      * [Exercise](/courses/html-and-css/exercises/lists)


      ## Attributes

      * [Exercise](/courses/html-and-css/exercises/attributes)


      ## Images - plus self closing tags

      * [Exercise](/courses/html-and-css/exercises/images)


      ## Tables

      * [Exercise](/courses/html-and-css/exercises/tables)


      ## Making a complete document

      * [Exercise](/courses/html-and-css/exercises/document)


      ## Style attributes

      * [Exercise](/courses/html-and-css/exercises/style)


      ## Structural Tags

      * [Exercise](/courses/html-and-css/exercises/structural-tags)

      # Part 2 - CSS


      ## A CSS Stylesheet

      * [Exercise](/courses/html-and-css/exercises/stylesheet)


      ## Matching elements

      * [Exercise](/courses/html-and-css/exercises/matching-elements)


      ## Matching classes

      * [Exercise](/courses/html-and-css/exercises/matching-classes)


      ## Matching ids

      * [Exercise](/courses/html-and-css/exercises/matching-ids)


      ## Matching nested elements

      * [Exercise](/courses/html-and-css/exercises/matching-nested-elements)


      ## Typography

      * [Exercise](/courses/html-and-css/exercises/typography)


      ## Display Inline, Block and Inline-Block

      * [Exercise](/courses/html-and-css/exercises/display-modes)


      ## Styling Lists

      * [Exercise](/courses/html-and-css/exercises/styling-lists)


      ## Styling a bar chart

      * [Exercise](/courses/html-and-css/exercises/bar-chart)


      ## Layout: Centering and Max-Width

      * [Exercise](/courses/html-and-css/exercises/centering)


      ## Layout: Absolute positioning

      * [Exercise](/courses/html-and-css/exercises/absolute-positioning)


      ## Layout: Floats

      * [Exercise](/courses/html-and-css/exercises/floats)


      # Part 3 - Optional Extra Content - Responsive Design



      ## Media Queries

      In which we write conditional CSS with media queries. Let's linearise our layout.

      * [Exercise](/courses/responsive-design/exercises/media-queries/)
      * [Sample Code](https://www.dropbox.com/sh/y10pcj2af1hlmxx/AAARq6hMNmSE6R650akoI9Tta?dl=1)


      ## Responding Stepwise

      In which we write conditional CSS with media queries. Let's linearise our layout.

      * [Exercise](/courses/responsive-design/exercises/stepwise/)


      ## Responsive Menu

      In which we create a horizontal nav that converts to a stacked nav at responsive scale.

      * [Exercise](/courses/responsive-design/exercises/responsive-menu/)



      # Part 4 - Optional Extra Content - SVG

      ## Simple Shapes

      * [Exercise](/courses/svg/exercises/shapes/)


      ## SVG with CSS

      * [Exercise](/courses/svg/exercises/css/)


      ## Final bits

      * [Download All Exercises](https://www.dropbox.com/sh/j94ay66wa7muvn9/AAAowzt2AXAveLsyTqoZwmt2a?dl=1)
