%article
  %section
    :markdown
      # Prototypical inheritance Exercise

      Create a Vehicle constructor. Add latitude and longitude coordinate attributes to it's prototype. Now add four methods to make it move north, south, east and west. These methods should change the latitude and longitude.

      Now use prototypical inheritance to make a car object. The car object should inherit from Vehicle, but in addition should also have a method to change the oil.

      Now make a bike object which also inherits from Vehicle




      # Composition Exercise

      Re-implement the above, but using composition instead.




      ## Optional Extra Exercise

      Create a driving simulator. There should be 4 buttons, up, down, left and right. Use JQuery to draw the car on the screen. Use CSS to absolutely position it. Use the buttons to update it's top and left values.
