;;;
"title": "Nicholas Johnson - Firebase Training near London",
"description": "Mongo with Firebase training course in London or Brighton UK"
;;;

%article
  %section
    :markdown

      # Firebase Training

      Welcome to the Firebase Course. Here are the exercises...

    :markdown

      ## Installation

      * [Exercise](/courses/firebase/exercises/installation/)
      * [Code Samples](https://www.dropbox.com/sh/vctiatcptagnjrf/AABFxfo9eHDSUNe0eWm488HRa?dl=1)

    :markdown

      ## Bind_to

      * [Exercise](/courses/firebase/exercises/bind_to/)
      * [Code Samples](https://www.dropbox.com/sh/r67fsqiblfoj4w6/AAAYFdTO5D1MKCcwMYY2ecjYa?dl=1)

    :markdown

      ## Arrays

      * [Exercise](/courses/firebase/exercises/arrays/)
      * [Code Samples](https://www.dropbox.com/sh/99gc67oiygk7awh/AAARp-PAXMUJwUVJEOZG_nYya?dl=1)


    :markdown

      ## Authentication

      * [Exercise](/courses/firebase/exercises/authentication/)
      * [Code Samples](https://www.dropbox.com/sh/99gc67oiygk7awh/AAARp-PAXMUJwUVJEOZG_nYya?dl=1)
