;;;
"title": "Nicholas Johnson - Responding Stepwise",
"description": "Responsive Design course Notes and Exercises"
;;;

%article
  %section
    :markdown
      # Vector images

      Vectors are images that are described using curves instead of pixels. You can zoom into them without losing resolution.

      ## Exercise 1 - SVG

      1. In the exercise directory you'll find an SVG file, which is an image exported from Illustrator. Embed this image in the HTML file using an img tag, just like a regular image.
      2. Use CSS to enlarge the image to fit the page.
      3. If you have access to a copy of Illustrator, make your own SVG.

      The street scene at the bottom of streetbank.com is an SVG.

      ## Exercise 2 - Font Awesome

      An icon font contains vector images as glyphs. Font Awesome is a great example.

      1. Download Font Awesome from here: http://fortawesome.github.io/Font-Awesome/
      2. Choose a glyph and embed it on your page.
