---
title: "AngularJS"
description: "Learn Angular from an someone who actually uses it. Live coding, Q&A,practical workshops, deep theory and lots of real world exercises."
section_slug: "angular"
course_slug: "course"
layout: "section_index"
---


%article
  %section

    %h1 AngularJS

    %p.subtitle
      The massively productive MVC app framework.

    %img.sectionLogo{ src: '/images/sections/angular.svg' }

    :markdown

      AngularJS is the most popular JavaScript MVC framework at the moment by an order of magnitude. It hits a sweet spot between Enterprise grade architecture and lean startup style productivity.

      Angular is essentially an HTML5 compiler. You drop a template in the top, and Angular takes care of wiring your app together. You extend Angular by writing custom components which the compiler makes use of.


    %h1 Angular Courses

    %nav.courses
      %ul
        %li
          %h2
            %a{ href: '/angular/course' }
              The Angular Course

          %p
            Three days of Angular covering templates and all the core principles and components. Learn to build and test an Angular App the right way, and finally build a real app against a live API.
            %a{ href: '/angular/course' }
              Read More
              %i.fa.fa-chevron-circle-right

        %li
          %h2
            %a{ href: '/angular/course' }
              Angular + JavaScript

          %p
            JavaScript is an often misunderstood language. It looks superficially like Java, but is different enough to cause developer confusion and occasional outrage! The Angular course plus JavaScript: function scope, closure, object orientation (which is different in JavaScript), and functional concepts.
            %a{ href: '/angular/course' }
              Read More
              %i.fa.fa-chevron-circle-right


        %li
          %h2
            %a{ href: '/angular/course' }
              Angular + NodeJS

          %p
            NodeJS is the perfect accompaniment to Angular. JavaScript as an event driven language makes a powerful server. Your JSON data shuttles easily between the server and client.
            %a{ href: '/angular/course' }
              Read More
              %i.fa.fa-chevron-circle-right

        %li
          %h2
            %a{ href: '/angular/course' }
              Angular + NodeJS + Mongo + Express (MEAN)

          %p
            An app built on the mean stack is JavaScript front to back. It will be fast, highly scalable, agile and moderately light on server resources. This is an agile stack favoured by many developers.
            %a{ href: '/angular/course' }
              Read More
              %i.fa.fa-chevron-circle-right

      %h1 The Angular Book

      :markdown

        Get a quick overview of what Angular is and does with the Angular book:

        [AngularJs - Step by logical step. A friendly and logical introduction to Angular](/angular-book)



    %section
      %h1 Course Content
      =partial 'partials/exercise_list', locals: {section_slug: "angular", course_slug: "course" }


    -# ## Two day introduction to Angular course in London

    -# A full introduction to Angular including all the main components. Build a live project against an open API.

    -# Based in London but can run anywhere in the UK, or internationally.

    -# * [Full course outline](/courses/angularjs/)
    -# * [Exercises and sample code](/courses/angularjs/exercises/)
    -# * [Book now](mailto:hello@nicholasjohnson.com)

    -# ## Three day advanced Angular

    -# A full introduction to Angular. Everything from the two day course in more depth and detail, plus more esoteric details like factories and inverse scope.

    -# * [Full course outline](/courses/angularjs/)
    -# * [Exercises and sample code](/courses/angularjs/exercises/)
    -# * [Book now](mailto:hello@nicholasjohnson.com)

    -# ## Four day Angular plus NodeJS course

    -# Node is the perfect complement to Angular. Learn to write scalable web services in 100% JavaScript.

    -# * [Full course outline](/courses/angularjs/)
    -# * [Exercises and sample code](/courses/angularjs/exercises/)
    -# * [Additional Node Exercises and sample code](/courses/nodejs/exercises/)
    -# * [Book now](mailto:hello@nicholasjohnson.com)

    -# ## Five Day Modern Web Design course

    -# Learn the full modern web stack. JavaScript, Angular, HTML5, CSS3, SASS, NodeJS, Bootstrap. Note that this is not an introductory course, and some knowledge of programming is required to tackle the material.

    -# * [Book now](mailto:hello@nicholasjohnson.com)

