---
title: "Ruby Lifecycle Callbacks"
description: ""
section: "ruby"
course: "ruby-course"
exercise: "lifecycle-callbacks"
layout: "exercise"
---

%article
  %section
    :markdown

      # Lifecycle Callbacks

