
%article
  %section.intro
    :markdown
      # SVG Training

      Welcome to the SVG Course. Here are the exercises...

  %section
    :markdown

      ## Simple Shapes

      * [Exercise](/courses/svg/exercises/shapes/)
