;;;
"title": "Nicholas Johnson - Responsive Design Training near London",
"description": "Responsive Design with HTML5 and CSS3 media queries training course in London or Brighton UK"
;;;

%article
  %section.intro

    :markdown
      # Responsive Design Courses

      The mobile internet accounts for over half of all web traffic, and if you're not tapping into it, you're missing out.

  %section
    :markdown

      In this one day course we'll learn how to use smart media queries to optimise for devices and future devices, building sites that scale easily to any form factor.

      ## One Day Responsive Design with HTML5 and CSS3

      ### Fundamentals

      * Example Sites
      * Principles
      * Finger sizes
      * Mobile landscape
      * Common devices
      * Mobile use cases
      * Designing for future devices

      ### CSS

      * Table free layouts
      * Float layouts
      * Nested float layouts
      * Absolute layouts
      * Solving box model bugs with border-box

      ### Media Queries

      * Horizontal Scaling
      * Vertical Scaling
      * Choosing Responsive Breakpoints

      ### Techniques

      * Showing or hiding elements
      * Restyling a horizontal menu
      * Resizing images
      * Typography
      * Scalable icon fonts
      * SVG
      * Resizing video

      ### Testing

      * Previewing on devices

      Additional topics can be added on request.




  %section

    = partial :"/courses/partials/responsive_pricing"
