@import '../imports';

.exercise_page {
  article {
    max-width: $max_text_width;
    float:right;
    width:75%;
    padding-left:5%;
  }

  nav.sidebar {
    padding-top:50px;
    padding-right:5%;
    float:left;
    width:25%;
    float:left;
    ul, li {
      margin:0;
      padding:0;
      list-style:none;
    }
    a, span {
      display:block;
      padding:10px;
      color:black;
    }
    span {
      font-weight:bold;
    }
    li.section {
      a {
        border:1px dotted black;
        border-bottom: none;
      }
    }
    li.course {
      a {
        background:black;
        color:white;
      }
    }
  }
  .next_exercise {
    font-size: $large;
    background: $light_grey;
    display: inline-block;
    padding: $gutter*0.5 $gutter;
    margin-bottom: $gutter;
  }
}
